@font-face {
    font-family: 'BravoRG';
    src: url(/app/site/themes/default/fonts/BravoRG.otf);
}

@font-face {
    font-family: 'Measure';
    src: url(/app/site/themes/default/fonts/Measure.otf);
}

@font-face {
    font-family: 'Archive';
    src: url(/app/site/themes/default/fonts/Archive.otf);
}

html, body
{
    padding: 0;
    margin: 0;
}

html
{
    font-family: Helvetica;
    color: #676a76;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    /*background: #41434a;*/
}

body
{
    background: url("/app/site/themes/default/src/bg_main.jpg") no-repeat fixed;
    background-size: 100%;
}

header
{
    text-align: center;
    margin-bottom: 40px;
}

footer
{
    height: 150px;
    background: linear-gradient(to bottom, #44464d, #41434a);
    overflow: hidden;
}

footer h4
{
    color: #58b1b4;
    font-family: Archive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

main
{
    /*display: none;*/
}

#main-wrap, #cards-conteiner
{
    width: 960px;
    margin: 20px auto;
    box-shadow: 0 0 20px #30323d;
    background: linear-gradient(to left bottom, #51545d, #5a5e66);
    /*overflow: hidden;*/
}

.center-wrap
{
    margin: 0 auto;
}

.big
{
    width: 960px;
}

.logo
{
    color: #f3f3f4;
}

.logo-text
{
    font-size: 14em;
    display: inline-block;
    margin: 40px 0 0;
    font-family: BravoRG;
    padding: 0 40px;
    border: 14px solid #f3f3f4;
    cursor: default;
}

.slogan-text
{
    font-family: BravoRG;
    font-size: 1.8em;
    letter-spacing: 2px;
    cursor: default;
}

/*Секция статистики карточек*/
#cards-stat
{
    /*margin-top: 40px;*/
    background: #42aba9;
    padding: 10px 0;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    text-align: center;
}

#cards-stat:hover
{
    color: #BF4B48!important;
}
#cards-stat:hover #cards-count
{
    border-color: #BF4B48;
}


#cards-count
{
    text-align: center;
    /*color: #fff;*/
    font-size: 2em;
    font-family: Archive;
    border: 4px solid #fff;
    border-radius: 20px;
    display: inline-block;
    padding: 14px;
    transition: .3s;
}

.decor-text1, .decor-text2
{
    /*color: #fff;*/
    font-family: Archive;
    font-size: 1.5em;
    display: inline-block;
}

.decor-text2
{
    /*color: #fff;*/
}

/*Секция отправки сообщения*/

.vertical-input
{
    display: block;
    max-width: 400px;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #676a76;
}

#send-container
{
    width: 460px;
    position: relative;
    margin: 10px auto;
}

#send-container h4
{
    font-weight: normal;
    font-size: 1em;
    margin: 10px 10px 5px;
    cursor: default;
}

#send-wrapper
{
    width: 440px;
    padding: 10px;
    box-shadow: 0 0 20px #30323d;
    background: linear-gradient(to left bottom, #51545d, #5a5e66);
    display: none;
    position: absolute;
    left: 0;
    top: -400px;
    z-index: 999;
    color: #fff;
}

#send-wrapper textarea
{
    min-height: 100px;
    max-height: 200px;
}

#send-wrapper label
{
    font-size: .8em;
}

#send-wrapper label>input
{
    margin: 5px;
}

.note-text
{
    font-size: .8em;
}

.btn
{
    padding: 10px 40px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background: #BF4B48;
    border: none;
    border-radius: 20px;
    color: #fff;
    transition: .3s;
    display: inline-block;
}

.btn:hover
{
    background: #3198cd;
}

#btn-open-send
{
    display: inline-block;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    /*background: #f75b40;*/
    background: #BF4B48;
    border: none;
    color: #fff;
    transition: .3s;
}

#btn-open-send:hover
{
    background: #3198cd;
}
/**************************/

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item { width: 200px; }

/*******Карточки********/
#cards-conteiner
{
    /*padding: 20px;*/
    display: none;
}

.card {
    margin: 0;
    width: 320px;
    height: 200px;
    color: #fff;
    float: left;
    cursor: default;
    position: relative;
    background: #58b1b4;
}

.card-lim
{
    z-index: 1;
}

.card-full
{
    z-index: 2;
}

.card-lim, .card-full
{
    background: #58b1b4;
    min-height: 100%;
    min-width: 100%;
    box-shadow: 0 0 15px #2f333a;
}

.card:nth-child(odd) > .card-main
{
    /*color: #fff;*/
    /*background: #676a76;*/
}

.card-header
{
    /*background: linear-gradient(to bottom, #41243d, #5d3554);*/
    padding: 10px;
    font-size: .8em;
    text-align: center;
}

.card-main
{
    padding: 20px;
    font-size: .8em;
    text-align: justify;
    letter-spacing: 1px;
    font: italic normal bold 14px/1.2em droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif;
}

.card-big
{
    width: 600px;
    border: 6px solid #676a76;
    margin: 20px auto;
}

.card-big-text
{
    padding: 20px;
    font: italic normal normal 24px/1.2em droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif;
    text-align: justify;
}

.card-big-header
{
    background: #676a76;
    color: #fff;
    padding: 10px;
    font-family: Helvetica;
    font-size: .8em;
    /*letter-spacing: 2px;*/
}

.card-big-header>.state
{
    float: right;
}
/***********************/