@font-face {
    font-family: 'BravoRG';
    src: url(/app/site/themes/default/fonts/BravoRG.otf);
}

@font-face {
    font-family: 'Measure';
    src: url(/app/site/themes/default/fonts/Measure.otf);
}

html, body
{
    padding: 0;
    margin: 0;
}

html
{
    font-family: Helvetica;
    color: #676a76;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

body
{
    /*background: url("/app/site/themes/default/src/bg_main.jpg") no-repeat fixed;*/
    background-size: 100%;
}

header
{
    text-align: center;
}

.center-wrap
{
    margin: 0 auto;
}

.big
{
    width: 960px;
}

.logo-text
{
    font-size: 14em;
    display: inline-block;
    margin: 40px 0 0;
    font-family: BravoRG;
    padding: 0 40px;
    border: 14px solid #676a76;
    cursor: default;
}

.slogan-text
{
    font-family: BravoRG;
    font-size: 1.8em;
    letter-spacing: 2px;
    cursor: default;
}

/*Секция отправки сообщения*/
h4
{
    font-weight: normal;
    font-size: 1em;
    margin: 10px 10px 5px;
    cursor: default;
}

.vertical-input
{
    display: block;
    max-width: 400px;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #676a76;
}

#send-container
{
    width: 460px;
    position: relative;
    margin: 10px auto;
}

#send-wrapper
{
    width: 440px;
    padding: 10px;
    box-shadow: 0 0 15px #676a76;
    display: none;
    position: absolute;
    left: 0;
    top: -400px;
    z-index: 999;
    background: #fff;
}

#send-wrapper textarea
{
    min-height: 100px;
    max-height: 200px;
}

#send-wrapper label
{
    font-size: .8em;
}

#send-wrapper label>input
{
    margin: 5px;
}

.note-text
{
    font-size: .8em;
}

.btn
{
    padding: 10px 40px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background: #f75b40;
    border: none;
    border-radius: 20px;
    color: #fff;
    transition: .3s;
    display: inline-block;
}

.btn:hover
{
    background: #3198cd;
}

#btn-open-send
{
    display: inline-block;
    padding: 10px 40px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    background: #f75b40;
    border: none;
    color: #fff;
    transition: .3s;
}

#btn-open-send:hover
{
    background: #3198cd;
}
/**************************/

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item { width: 200px; }

/*******Карточки********/
#cards-conteiner
{
    width: 1280px;
    margin: 20px auto;
}

.card {
    margin: 10px;
    width: 288px;
    color: #676a76;
    overflow: hidden;
    /*border-radius: 8px;*/
    background: #fff;
    box-shadow: 0 0 15px #676a76;
    float: left;
    cursor: default;
    border: 6px solid #676a76;
}

.card:nth-child(odd) > .card-main
{
    color: #39a7d7;
}

.card-header
{
    /*background: linear-gradient(to bottom, #41243d, #5d3554);*/
    padding: 10px;
    font-size: .8em;
    text-align: center;
}

.card-main
{
    padding: 20px;
    font-size: .8em;
    /*color: #FFF;*/
    text-align: justify;
    letter-spacing: 1px;
    /*background: radial-gradient(#583745, #41243d);*/
    font: italic normal normal 14px/1.2em droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif;
}

.card-big
{
    width: 400px;
    border: 6px solid #676a76;
    margin: 20px auto;
}

.card-big-text
{
    padding: 20px;
    font: italic normal normal 18px/1.2em droid-serif-w01-regular,droid-serif-w02-regular,droid-serif-w10-regular,serif;
    text-align: justify;
}

.card-big-header
{
    background: #676a76;
    color: #fff;
    padding: 10px;
    font-family: Helvetica;
    font-size: .8em;
    /*letter-spacing: 2px;*/
}

.card-big-header>.state
{
    float: right;
}
/***********************/