html, body
{
    padding: 0;
    margin: 0;
}

html
{
    font-family: Helvetica;
}

body
{
    background: url("/app/site/themes/default/src/bg_main.jpg") no-repeat fixed;
}

header
{
    color: #ffffff;
    text-align: center;
}

.center-wrap
{
    margin: 0 auto;
}

.big
{
    width: 960px;
}

.logo-text
{
    font-size: 8em;
    display: inline-block;
    margin: 40px 0 0;
}